
//primary
$human-blue: #6785C1;
$dark-blue:  #0F1C50;
    
//secondary
$yellow:     #E6B600;
$gray:       #BABABA;
$white:      #FFFFFF;

//notifications
$green-notify: #D4EDDA;
$yellow-notify:#FFF3CD;
$red-notify:   #F8D7DA;






