
//primary
$human-blue: #6785C1;
$dark-blue:  #0F1C50;
    
//secondary
$yellow:     #E6B600; 

$gray:       #BABABA;
$white:      #FFFFFF;

//notifications
$green-notify: #D4EDDA;
$yellow-notify:#FFF3CD;
$red-notify:   #F8D7DA;
$blue-notify: #D1ECF1;
$green-notify-text: #155724;
$yellow-notify-text: #856404;
$red-notify-text: #721C24;
$blue-notify-text: #0C5460;





